#projects {
    margin: auto;
    padding-block: 72px;

    & #title-projects {
        text-align: center;
    }

    & #pages {
        height: 584px;
        margin: auto;
    }
        
        figure {
            width: 330px;
            height: 280px;
            background-color: var(--gray-400);
            position: relative;
            border-radius: 12px;

            &:hover {
                box-shadow: 0px 0px 5px var(--gray-200);
                transition-duration: 0.2s;
                cursor: pointer;
                
            }
        }
    
        img {
            position: absolute;
            inset: 12px 12px;
            height: 156px;
            width: 306px;
            border-radius: 8px;
            
        }

        .description-projects {
            width: 330px;
            height: 280px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 16px 16px;
            gap: 10px;
        }
    
}

#services {
    background-color: var(--gray-600);
    height: 480px;
    padding-block: 88px 120px;
    
    & #title-projects {
        text-align: center;
    }
    
    .box-skills {
        width: 280px;
        height: 155px;
        border: 3px solid var(--gray-500);
        border-radius: 20px;
        padding: 20px;
    }
}